.nav{
    width:65%;
    /* margin: auto; */
    background-color: rgb(3, 63, 22);
    color: white;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.nav li{
    text-decoration: none;
    list-style: none;
    padding: 4px 5px;
    text-align: center;
}

.togglebutton{
    background-color: rgb(93, 0, 255);
    color:white;
    width: 10%;
    height: 20px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin-left: 15px;
}